footer {
  a {
    &:hover {
      color: $brand;
    }
  }
}

.footer {
  background: #e3eeee;
}

.subnavigation {
  @include breakpoint(medium) {
    background: $brand;
  }

  a {
    color: inherit;

    @include breakpoint(medium) {
      color: $white;

      &:hover {
        color: $white;
        text-decoration: underline;
      }
    }

    &.is-active {
      color: inherit;

      @include breakpoint(medium) {
        border-bottom: 0;
        color: $white;
        margin-bottom: 0;
        text-decoration: underline;
      }
    }
  }
}

.public > .wrapper > header {
  .top-bar {
    color: $black;
    background-color: $white;

    a {
      font-weight: bold;
    }
  }
}

.top-bar {
  .top-bar-title {
    a img {
      @include breakpoint(medium) {
        width: 7rem;
      }

      @include breakpoint(small only) {
        height: rem-calc(80);
      }
    }
  }

  .top-bar-logo {
    flex-grow: 1;
    line-height: $line-height;
    margin-bottom: 0;

    a img {
      height: rem-calc(48);
      margin: 0;
      width: auto;

      @include breakpoint(medium up) {
        height: auto;
      }
    }
  }
}

.auth-form .org-name {
  font-size: rem-calc(24);
  font-weight: 500;
}
